body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
 }
 header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 #blue-box {
    background-color: blue;
    width: 90px;
    height: 90px;
    position: absolute;
    left:0;
    bottom:1vh;
    cursor: crosshair;
 }
 #tela {
    border-width: 3px;
    border-style: solid;
    background-color: #ff00ff00;
    width: 95%;
    height: 450px;
    position: relative;
 }
 #button {
    padding: 10px;
    width: 90%;
    background-color: #ff4a148c;
    align-self: center;
    cursor: crosshair;
 }
 #button2 {
    padding: 10px;
    background-color: #ff4a148c;
    align-self: center;
    cursor: pointer;
 }
 #tutorial {
       padding: 10px;
       background-color: #ff4a148c;
       position: absolute;
       right: 10px;
       top: 10px;
    }
 @media screen and (min-width: 768px) {
    body {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       height: 100vh;
       margin: 0;
       font-size: x-large;
    }

    #blue-box {
       background-color: blue;
       width: 90px;
       height: 90px;
       position: absolute;
       left:0;
       bottom:1vh;
       cursor: crosshair;
    }
    #tela {
       border-width: 3px;
       border-style: solid;
       background-color: #ff00ff00;
       width: 95%;
       height: 450px;
       position: relative;
    }

    #button {
       padding: 10px;
       background-color: #ff4a148c;
       align-self: center;
       cursor: pointer;
    }
    #button2 {
       padding: 10px;
       background-color: #ff4a148c;
       align-self: center;
       cursor: pointer;
    }
    #tutorial {
       padding: 10px;
       background-color: #ff4a148c;
       position: absolute;
       right: 10px;
       top: 10px;
    }
 }