body {
    text-align: center;
    font-size: 3vh;
    background-color: #fafafa;
    margin: 0px;
    background-color: #9e6365;
}

.player {
    width: 20vh;
    height: 20vh;
    background-color: blue;
    position: relative;
}

#chegada {
    width: 15vh; 
    height: 15vh; 
}

#chegada img {
    width: 100%;
    height: 100%;
}

#player1 {
    margin-left: 2%;
}

#player2 {
    margin-left: 2%;
}

#tela1 {
    border-top: 3px solid;
    border-bottom: 3px solid;
    background-color: #ff00ff00;
    width: 97%;
    height: 22vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#tela2 {
    border-top: 3px solid;
    border-bottom: 3px solid;
    background-color: #ff00ff00;
    width: 97%;
    height: 22vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    margin-top: 10vh;

}

#tutorial {
    padding: 10px;
    background-color: #b33538;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
 }

 #button {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 10vh;
    padding-left: 10vh;

    display: inline;
    width: 70%;
    background-color: #b33538;
    align-self: center;
    cursor: pointer;
 }
 .inicial {
    background-color: #fdb4b6;
    height: 100vh;
 }